[submodule "awesome/lain"]
	path = awesome/lain
	url = https://github.com/copycat-killer/lain.git
[submodule "awesome/awesome-revelation"]
	path = awesome/awesome-revelation
	url = https://github.com/guotsuan/awesome-revelation.git
