!Xft.dpi: 96
!Xft.antialias: true
!Xft.hinting: true
!Xft.rgba: rgb
!Xft.autohint: false
!Xft.hintstyle: hintslight
!Xft.lcdfilter: lcddefault
! grassland by bohoomil


!xterm configs
xterm*utf8: 1
xterm*termName: xterm-256color
xterm*locale: true
	
!fix clipboard issue

xterm*selectToClipboard: true
xterm*VT100.*translations:      #override \
        Shift Ctrl C: select-end(CLIPBOARD, CUT_BUFFER0) \n\
        Shift Ctrl V: insert-selection(CLIPBOARD, CUT_BUFFER0)
			
xterm*saveLines: 9000

xterm.scrollBar: false
xterm.borderLess: false

xterm*loginShell:         true
xterm*scrollBar:         false
xterm*secondaryScroll:    true

xterm.iso14755: False 

xterm*faceNameDoublesize: xft:Sazanami Mincho:style=Regular :pixelsize=12
xterm*font: xft:MesloLGM :pixelsize=13:antialias=true:hinting=true
xterm*boldFont: xft:MesloLGM :bold:pixelsize=12:antialias=true:hinting=true
xterm*faceName: xft:MesloLGM :pixelsize=12:antialias=true:hinting=true
	
!xterm*font: xft:Monospace :pixelsize=12:antialias=true:hinting=true	
!xterm*boldFont: xft:Bitstream Vera Sans Mono:bold:pixelsize=12:antialias=true:hinting=true
!xterm*faceName: xft:Monospace :pixelsize=12:antialias=true:hinting=true

!! fonts bank
!!URxvt*font: xft:DejaVu Sans Mono:pixelsize=12:antialias=true:hinting=true
!!URxvt*boldFont: xft:DejaVu Sans Mono:bold:pixelsize=12:antialias=true:hinting=true
!!URxvt*font: xft:Liberation Mono:pixelsize=13:antialias=true:hinting=true
!!URxvt*boldFont: xft:Liberation Mono:bold:pixelsize=13:antialias=true:hinting=true
!!URxvt*font: xft:terminus:pixelsize=15
!!URxvt*boldFont: xft:terminus:bold:pixelsize=15
!!URxvt*font:-*-courier-medium-r-normal-*-14-*-*-*-*-*-iso8859-1
!!URxvt*boldFont:-*-courier-bold-r-normal-*-14-*-*-*-*-*-iso8859-1
!!urxvt*font:        -xos4-terminus-medium-*-*-*-12-*-*-*-*-*-*-*
!!urxvt*boldFont:    -xos4-terminus-bold-*-*-*-12-*-*-*-*-*-*-*
!!urxvt*font: terminus
!!urxvt*boldFont: terminus-12

!general settings
!special

*background:         #0C0C0C
*foreground:         #AAAAB3

!black
*color0:     #252525
*color8:     #454545
!red
*color1:     #EF6769
*color9:     #FC7CA5
!green
*color2:     #A6E22E
*color10:    #B6E354
!yellow
*color3:     #FD971F
*color11:    #FD971F
!blue
*color4:     #6495ED
*color12:    #87CEEB
!magenta
*color5:     #DEB887
*color13:    #996600
!cyan
*color6:     #B0C4DE
*color14:    #87CEEB
!white
*color7:     #DBDCDC
*color15:    #FDFDFD
