!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!Xft
!Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
!Xft.autohint: false
Xft.hintstyle: hintslight
!Xft.lcdfilter: lcddefault
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!xterm
xterm*utf8: 1
xterm*termName: xterm-256color
xterm*locale: true
xterm*metaSendsEscape: true
xterm*eightBitInput: false
!fix clipboard issue

xterm*selectToClipboard: true
xterm*VT100.*translations:      #override \
        Shift Ctrl C: select-end(CLIPBOARD, CUT_BUFFER0) \n\
        Shift Ctrl V: insert-selection(CLIPBOARD, CUT_BUFFER0)
			
xterm*saveLines: 9000

xterm.scrollBar: false
xterm.borderLess: false

xterm*loginShell:         true
xterm*scrollBar:         false
xterm*secondaryScroll:    true

xterm.iso14755: False 

xterm*faceNameDoublesize: xft:vlgothic :style=Regular :pixelsize=12
xterm*font: MesloLGM :pixelsize=13:antialias=true:hinting=true
xterm*boldFont: MesloLGM :bold:pixelsize=12:antialias=true:hinting=true
xterm*faceName: MesloLGM :pixelsize=12:antialias=true:hinting=true
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!urxvt
urxvt*termName: rxvt-unicode
urxvt*saveLines: 9000

urxvt.scrollBar: false
urxvt.borderLess: false

urxvt.letterSpace: -2
urxvt*font: xft:MesloLGM:pixelsize=11.5:antialias=true:hinting=true

urxvt*loginShell:         true
urxvt*scrollBar:         false
urxvt*secondaryScroll:    true

!urxvt.keysym.Shift-Control-V: perl:clipboard:paste 
urxvt.iso14755: False

urxvt.perl-ext:
urxvt.perl-ext-common:

!Make transparency
urxvt*transparent: true
urxvt*shading: 10

!Home-End keys
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!





!general settings

!*.background:               #1b1b1b
!*.foreground:               #FFFFFF
	
!special
!Black
!*color0:                        #3D3D3D
!*color8:                        #4D4D4D 
!Red
!*color1:                        #6673BF
!*color9:                        #899AFF 
!Green
!*color2:                        #3EA290
!*color10:                       #52AD91
!Yellow
!*color3:                        #B0EAD9
!*color11:                       #98C9BB
!Blue
!*color4:                        #31658C
!*color12:                       #477AB3
!Magenta
!*color5:                        #596196
!*color13:                       #7882BF
!Cyan
!*color6:                        #8292B2
!*color14:                       #95A7CC
!White
!*color7:                        #C8CACC
!*color15:                       #EDEFF2      

*foreground: #DDCCBB

! Brown BG
!*background: #30251D

! Grey BG
*background: #151515


!black
*color0:     #393939
*color8:     #AF875F
!red
*color1:     #BF1E2D
*color9:     #E7212A
!green
*color2:     #9DBA3A
*color10:    #A9C938
!yellow
*color3:     #F5B915
*color11:    #F7D325
!blue
*color4:     #1CA1DB
*color12:    #00AFDA
!magenta
*color5:     #652F90
*color13:    #894E9F
!cyan
*color6:     #EA7D24
*color14:    #F79321
!white
*color7:     #E7E8E9
*color15:    #F3F3F4